@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="ListRole">List Roles</a></li>
    <li><a asp-action="CreateRole">Create Role</a></li>
    <li><a asp-action="EditRole">Edit Role</a></li>
    <li><a asp-action="AddOrRemove">Add or Remove user</a></li>
</ul>