<h2>All Roles</h2>

<a class="btn btn-primary mb-3" style="width:auto">Add New Role</a>

<div class="card col-md-4">
    <div class="card-header">
        RoleId: 00000000
    </div>
    <div class="card-body">
        Admin
    </div>
    <div class="card-footer">
        <a class="btn btn-primary">Edit</a>
        <a class="btn btn-danger">Delete</a>
    </div>
</div>